<launch>

    <!-- image_transport -->
    <node pkg="image_transport" type="republish" name="republish_f" args="compressed raw">
        <remap from="in" to="/realsense_f/color/image_raw"/>
		<remap from="out" to="/camera_f/decompressed_image"/>
	</node>
    <node pkg="image_transport" type="republish" name="republish_l" args="compressed raw">
		<remap from="in" to="/realsense_l/color/image_raw"/>
		<remap from="out" to="/camera_l/decompressed_image"/>
	</node>
	<node pkg="image_transport" type="republish" name="republish_b" args="compressed raw">
		<remap from="in" to="/realsense_b/color/image_raw"/>
		<remap from="out" to="/camera_b/decompressed_image"/>
	</node>
	<node pkg="image_transport" type="republish" name="republish_r" args="compressed raw">
		<remap from="in" to="/realsense_r/color/image_raw"/>
		<remap from="out" to="/camera_r/decompressed_image"/>
	</node>

    <node pkg="bnn_attitude_predictor_with_image" name="ros_infer" type="ros_infer.py" output="screen">
        <param name="frame_id" value="/base_link" />
        <param name="weights_path" value="/home/bnn_attitude_predictor_with_image/test2/weights/regression1775train318valid224resize0.5mean0.5stdAdam1e-05lrcnn0.0001lrfc70batch50epoch.pth" />
        <param name="resize" value="224" />
        <param name="mean_element" value="0.5" />
        <param name="std_element" value="0.5" />
        <param name="num_sampling" value="30" />
        <param name="dropout_rate" value="0.1" />
        <param name="subscribe_topic_name" value="/camera_f/decompressed_image" />
    </node>

</launch>